.fjord-pagecontrols {
    position: sticky !important;

}

div#fjord-app.vertical{
    .fjord-pagecontrols{
        top: $grid-gutter-width;
    }
}

div#fjord-app.horizontal{
    .fjord-pagecontrols{
        top: $topbar-height + $grid-gutter-width;
    }
}
