.lit-tabs {
    margin-bottom: 30px;
    .tab-content {
        padding: 20px;
        border: 1px solid #ced4da;
        border-top: none;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .nav-link {
        font-weight: 500;
    }
}
