div#litstack .vue-dropzone {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1;
    color: $muted;
    border: 1px solid $border;
    border-radius: 0.25rem;

    background-size: cover;

    .dz-message {
        font-family: $font-family-sans-serif;
        font-size: 0.8rem;
    }

    &__delete {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
