.lit-topbar {
    width: 100vw;
    height: $topbar-height;
    background: $topbar-bg;
    padding: 0 20px;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 9;

    &_brand {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        align-self: center;
        text-transform: uppercase;
        img {
            width: 150px;
        }
    }
    &_link {
        padding-top: 2px;
        color: white;
        letter-spacing: 0.1rem;
        align-self: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        &:hover {
            text-decoration: none;
            color: $light;
        }
    }
}
