{
    "presets": [["env", { "modules": false }]],
    "env": {
        "test": {
            "presets": [["env", { "targets": { "node": "current" } }]],
            "plugins": ["transform-object-rest-spread"]
        }
    }
}
