* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/docs export-ignore
/public linguist-generated
/public/*.js -diff
/public/*.css -diff
/tests export-ignore
.babelrc export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
.styleci.yml export-ignore
CHANGELOG-* export-ignore
phpunit.xml export-ignore
