/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
composer.phar
composer.lock
package-lock.json
.env
.DS_Store
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
