$ph-bg: #fff !default;
$ph-color: $gray-300 !default;
$ph-border-radius: $border-radius !default;

$ph-gutter: $grid-gutter-width !default;
$ph-spacer: $grid-gutter-width / 1.5 !default;

//$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: 0.8s !default;

.ph-col-1 {
    flex: 0 0 percentage(1 / 12);
}
.ph-col-3 {
    flex: 0 0 percentage(3 / 12);
}
.ph-col-5 {
    flex: 0 0 percentage(5 / 12);
}
.ph-col-7 {
    flex: 0 0 percentage(7 / 12);
}
.ph-col-9 {
    flex: 0 0 percentage(9 / 12);
}
.ph-col-11 {
    flex: 0 0 percentage(11 / 12);
}

div#litstack {
    .ph-item {
        border-width: 0;

        div {
            border-radius: $ph-border-radius;
        }
    }

    .lit-nav-loader {
        padding-top: $ph-gutter - $nav-padding-top;

        .lit-ph-entry {
            height: $font-size-base;
            margin: $list-group-item-padding-y 0;
        }
        .lit-ph-divider {
            height: $nav-padding-top;
        }
        .lit-ph-title {
            height: $nav-title-font-size;
            margin: $list-group-item-padding-y 0;
        }
    }
}

@import '~placeholder-loading/src/scss/placeholder-loading';
