// Lit Bootstrap Theme.
//
// This File overrides all neccessary Bootstrap sass variables that should be
// overwritten.

// Color system

//$white:    #fff !default;
$gray-100: #f4f6f8 !default;
$gray-200: #f5f8fb !default;
$gray-300: #e5eaef !default;
$gray-400: #ccd7e1 !default;
$gray-500: #6c8199 !default;
$gray-600: #676569 !default;
$gray-700: #4f4e52 !default;
$gray-800: #2a353f !default;
$gray-900: #070a1f !default;
$black: #000 !default;

//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
$purple: #4951f2 !default;
//$pink:    #e83e8c !default;
$red: #f67693 !default;
//$orange:  #fd7e14 !default;
$yellow: #f6ed76 !default;
$green: #9ff2ae !default;
//$teal:    #20c997 !default;
$cyan: #83c2ff !default;

$primary: $purple !default;
$secondary: #70859c !default;
$success: $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light: #cfd9e2 !default;
$dark: $gray-900 !default;
$gray: $gray-600 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
        //'primary': $primary,
            //'secondary': $secondary,
            //'success': $success,
            //'info': $info,
            //'warning': $warning,
            //'danger': $danger,
            //'light': $light,
            //'dark': $dark,
            'gray': $gray
    ),
    $theme-colors
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

//$enable-caret:                                true !default;
//$enable-rounded:                              true !default;
//$enable-shadows:                              false !default;
//$enable-gradients:                            false !default;
//$enable-transitions:                          true !default;
//$enable-prefers-reduced-motion-media-query:   true !default;
//$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
//$enable-grid-classes:                         true !default;
//$enable-pointer-cursor-for-buttons:           true !default;
//$enable-print-styles:                         true !default;
//$enable-responsive-font-sizes:                false !default;
//$enable-validation-icons:                     true !default;
//$enable-deprecation-messages:                 true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacer-y: 1rem;
$spacer-x: 2rem;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
        //25: 25%,
            //50: 50%,
            //75: 75%,
            //100: 100%,
            //auto: auto
    ),
    $sizes
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-200 !default;
//$body-color: $gray-900 !default;

// Links
//
// Style anchor elements.

//$link-color:                              theme-color("primary") !default;
//$link-decoration:                         none !default;
//$link-hover-color:                        darken($link-color, 15%) !default;
//$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
//$emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

//$paragraph-margin-bottom:   1rem !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

//$grid-columns:                12 !default;
$grid-gutter-width: 30px !default;
//$grid-row-columns:            6 !default;

// Components
//
// Define common padding and border radius sizes and more.

//$line-height-lg: 1.5 !default;
//$line-height-sm: 1.5 !default;

$border-width: 1px !default;
$border-color: $secondary !default;

$border-radius: 0.625rem !default;
$border-radius-md: $border-radius !default;
$border-radius-lg: 0.8rem !default;
$border-radius-sm: 0.4375rem !default;
$border-radius-xs: 0.25rem !default;

//$rounded-pill: 50rem !default;

//$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0 19px 0 rgba(235, 235, 235, 0.5) !default;
//$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

//$component-active-color: $white !default;
//$component-active-bg: theme-color('primary') !default;

//$caret-width: 0.3em !default;
//$caret-vertical-align: $caret-width * 0.85 !default;
//$caret-spacing: $caret-width * 0.85 !default;

//$transition-base: all 0.2s ease-in-out !default;
//$transition-fade: opacity 0.15s linear !default;
//$transition-collapse: height 0.35s ease !default;

//$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
/*
$embed-responsive-aspect-ratios: join(
    ((21 9), (16 9), (4 3), (1 1)),
    $embed-responsive-aspect-ratios
);
*/

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
//$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.9 !default;

//$font-weight-lighter:         lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
//$font-weight-bolder:          bolder !default;

//$font-weight-base:            $font-weight-normal !default;
$line-height-base: 1.5 !default;

//$h1-font-size:                $font-size-base * 2.5 !default;
//$h2-font-size:                $font-size-base * 2 !default;
//$h3-font-size:                $font-size-base * 1.75 !default;
//$h4-font-size:                $font-size-base * 1.5 !default;
//$h5-font-size:                $font-size-base * 1.25 !default;
//$h6-font-size:                $font-size-base !default;

//$headings-margin-bottom:      $spacer / 2 !default;
//$headings-font-family:        null !default;
$headings-font-weight: 500 !default;
//$headings-line-height:        1.2 !default;
//$headings-color:              null !default;

//$display1-size:               6rem !default;
//$display2-size:               5.5rem !default;
//$display3-size:               4.5rem !default;
//$display4-size:               3.5rem !default;

//$display1-weight:             300 !default;
//$display2-weight:             300 !default;
//$display3-weight:             300 !default;
//$display4-weight:             300 !default;
//$display-line-height:         $headings-line-height !default;

//$lead-font-size:              $font-size-base * 1.25 !default;
//$lead-font-weight:            300 !default;

//$small-font-size:             80% !default;

//$text-muted:                  $gray-600 !default;

//$blockquote-small-color:      $gray-600 !default;
//$blockquote-small-font-size:  $small-font-size !default;
//$blockquote-font-size:        $font-size-base * 1.25 !default;

$hr-border-color: $gray-300 !default;
//$hr-border-width: $border-width !default;

//$mark-padding: 0.2em !default;

//$dt-font-weight: $font-weight-bold !default;

//$kbd-box-shadow: inset 0 -0.1rem 0 rgba($black, 0.25) !default;
//$nested-kbd-font-weight: $font-weight-bold !default;

//$list-inline-padding: 0.5rem !default;

//$mark-bg: #fcf8e3 !default;

//$hr-margin-y: $spacer !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1.25rem !default;
$table-cell-padding-sm: 1.25rem * 0.625 !default;

//$table-color:                 $body-color !default;
//$table-bg:                    null !default;
$table-thead-color: $secondary;
$table-accent-bg: $gray-100 !default;
//$table-hover-color:           $table-color !default;
$table-hover-bg: #c8d6fb !default;
$table-active-bg: #acc2fe !default;

//$table-border-width:          $border-width !default;
//$table-border-color:          $border-color !default;

//$table-head-bg:               $gray-200 !default;
//$table-head-color:            $gray-700 !default;

//$table-dark-color:            $white !default;
//$table-dark-bg:               $gray-800 !default;
//$table-dark-accent-bg:        rgba($white, .05) !default;
//$table-dark-hover-color:      $table-dark-color !default;
//$table-dark-hover-bg:         rgba($white, .075) !default;
//$table-dark-border-color:     lighten($table-dark-bg, 7.5%) !default;

$table-striped-order: even !default;

//$table-caption-color:         $text-muted !default;

//$table-bg-level:              -9 !default;
//$table-border-level:          -6 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
//
//
// The Button height is defined explicitly in _bs.scss

$input-btn-padding-y: 0.3125rem !default;
$input-btn-padding-x: 1.25rem !default;
//$input-btn-font-family:       null !default;
$input-btn-font-size: 0.875rem !default;
$input-btn-line-height: 2;

//$input-btn-focus-width:       .2rem !default;
//$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

//$input-btn-padding-y-sm: $input-btn-padding-y * 0.8 !default;
$input-btn-padding-x-sm: $input-btn-padding-x * 0.8 !default;
$input-btn-font-size-sm: $font-size-sm * 0.8 !default;
//$input-btn-line-height-sm:    $line-height-sm !default;

//$input-btn-padding-y-lg:      .5rem !default;
//$input-btn-padding-x-lg:      1rem !default;
//$input-btn-font-size-lg:      $font-size-lg !default;
//$input-btn-line-height-lg:    $line-height-lg !default;

//$input-btn-border-width:      $border-width !default;

// Forms

//$label-margin-bottom:                   .5rem !default;
//
//$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x: 0.75rem !default;
//$input-font-family:                     $input-btn-font-family !default;
$input-font-size: 0.9rem !default;
//$input-font-weight:                     $font-weight-base !default;
//$input-line-height:                     $input-btn-line-height !default;
//
//$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
//$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
//$input-font-size-sm:                    $input-btn-font-size-sm !default;
//$input-line-height-sm:                  $input-btn-line-height-sm !default;
//
//$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
//$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
//$input-font-size-lg:                    $input-btn-font-size-lg !default;
//$input-line-height-lg:                  $input-btn-line-height-lg !default;
//
//$input-bg:                              $white !default;
//$input-disabled-bg:                     $gray-200 !default;
//
$input-color: $black !default;
$input-border-color: $border-color !default;
//$input-border-width:                    $input-btn-border-width !default;
//$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;
//
//$input-border-radius:                   $border-radius !default;
//$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;
//
//$input-focus-bg:                        $input-bg !default;
//$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
//$input-focus-color:                     $input-color !default;
//$input-focus-width:                     $input-btn-focus-width !default;
//$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;
//
//$input-placeholder-color:               $gray-600 !default;
//$input-plaintext-color:                 $body-color !default;
//
//$input-height-border:                   $input-border-width * 2 !default;
//
//$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
//$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
//$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y / 2) !default;
//
$input-height: 2.5rem;
//$input-height-sm:                       add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
//$input-height-lg:                       add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;
//
//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Cards

$card-spacer-y: 2.5rem !default;
$card-spacer-x: 2.5rem !default;
$card-border-width: 0 !default;
//$card-border-radius:                $border-radius !default;
//$card-border-color:                 rgba($black, .125) !default;
//$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-bg: $gray-300 !default;
//$card-cap-color:                    null !default;
//$card-height:                       null !default;
//$card-color:                        null !default;
//$card-bg:                           $white !default;

//$card-img-overlay-padding:          1.25rem !default;

//$card-group-margin:                 $grid-gutter-width / 2 !default;
//$card-deck-margin:                  $card-group-margin !default;

//$card-columns-count:                3 !default;
//$card-columns-gap:                  1.25rem !default;
//$card-columns-margin:               $card-spacer-y !default;

// List group

//$list-group-color:                  null !default;
//$list-group-bg:                     $white !default;
//$list-group-border-color:           rgba($black, .125) !default;
//$list-group-border-width:           $border-width !default;
//$list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y: $spacer-y !default;
$list-group-item-padding-x: $spacer-x !default;

//$list-group-hover-bg:               $gray-100 !default;
//$list-group-active-color:           $component-active-color !default;
//$list-group-active-bg:              $component-active-bg !default;
//$list-group-active-border-color:    $list-group-active-bg !default;

//$list-group-disabled-color:         $gray-600 !default;
//$list-group-disabled-bg:            $list-group-bg !default;

//$list-group-action-color:           $gray-700 !default;
//$list-group-action-hover-color:     $list-group-action-color !default;

//$list-group-action-active-color:    $body-color !default;
//$list-group-action-active-bg:       $gray-200 !default;

$list-group-collapsed-bg: $body-bg;

// Toasts

//$toast-max-width:                   350px !default;
$toast-padding-x: $input-btn-padding-x !default;
$toast-padding-y: $input-btn-padding-y !default;
$toast-font-size: $font-size-base !default;
//$toast-color:                       null !default;
$toast-background-color: rgba($gray-500, 0.8) !default;
$toast-border-width: 0 !default;
//$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-border-radius: $border-radius !default;
//$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1) !default;

//$toast-header-color:                $gray-600 !default;
//$toast-header-background-color:     rgba($white, .85) !default;
//$toast-header-border-color:         rgba(0, 0, 0, .05) !default;

// Badges

//$badge-font-size:                   75% !default;
$badge-font-weight: 500 !default;
$badge-padding-y: 0.4em !default;
$badge-padding-x: 0.5em !default;
$badge-border-radius: $border-radius-xs !default;

//$badge-transition:                  $btn-transition !default;
//$badge-focus-width:                 $input-btn-focus-width !default;

//$badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
//$badge-pill-border-radius:          10rem !default;

$custom-checkbox-indicator-border-radius: $border-radius-xs !default;

// Dropdowns
//
// Dropdown menu container and contents.

//$dropdown-min-width:                10rem !default;
//$dropdown-padding-y:                .5rem !default;
//$dropdown-spacer:                   .125rem !default;
//$dropdown-font-size:                $font-size-base !default;
//$dropdown-color:                    $body-color !default;
//$dropdown-bg:                       $white !default;
//$dropdown-border-color:             rgba($black, .15) !default;
//$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width: 0 !default;
//$dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width) !default;
//$dropdown-divider-bg:               $gray-200 !default;
//$dropdown-divider-margin-y:         $nav-divider-margin-y !default;
$dropdown-box-shadow: $box-shadow !default;

//$dropdown-link-color:               $gray-900 !default;
//$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
//$dropdown-link-hover-bg:            $gray-100 !default;

//$dropdown-link-active-color:        $component-active-color !default;
//$dropdown-link-active-bg:           $component-active-bg !default;

//$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y: $input-btn-padding-y !default;
$dropdown-item-padding-x: $input-btn-padding-x !default;

//$dropdown-header-color:             $gray-600 !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.5rem !default;
//
//// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
//$modal-footer-margin-between: 0.5rem !default;
//
//$modal-dialog-margin: 0.5rem !default;
//$modal-dialog-margin-y-sm-up: 1.75rem !default;
//
//$modal-title-line-height: $line-height-base !default;
//
//$modal-content-color: null !default;
//$modal-content-bg: $white !default;
$modal-content-border-color: $border-color !default;
$modal-content-border-width: $border-width !default;
//$modal-content-border-radius: $border-radius-lg !default;
//$modal-content-inner-border-radius: subtract(
//    $modal-content-border-radius,
//    $modal-content-border-width
//) !default;
//$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba($black, 0.5) !default;
//$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.5) !default;
//
//$modal-backdrop-bg: $black !default;
//$modal-backdrop-opacity: 0.5 !default;
// $modal-header-border-color: $border-color !default;
$modal-header-border-width: 0 !default;
$modal-footer-border-width: $border-width !default;
$modal-footer-border-color: $gray-400 !default;
$modal-header-padding-y: $modal-inner-padding !default;
$modal-header-padding-x: $modal-inner-padding !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x 0
    $modal-header-padding-x !default; // Keep this for backwards compatibility
//
//$modal-xl: 1140px !default;
//$modal-lg: 800px !default;
//$modal-md: 500px !default;
//$modal-sm: 300px !default;
//
//$modal-fade-transform: translate(0, -50px) !default;
//$modal-show-transform: none !default;
//$modal-transition: transform 0.3s ease-out !default;
//$modal-scale-transform: scale(1.02) !default;

// Navs

$nav-link-padding-y: $input-btn-padding-y !default;
$nav-link-padding-x: $input-btn-padding-x !default;
//$nav-link-disabled-color: $gray-600 !default;
//
//$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-border-width: 0 !default;
//$nav-tabs-border-radius: $border-radius !default;
//$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
//$nav-tabs-link-active-color: $gray-700 !default;
//$nav-tabs-link-active-bg: $body-bg !default;
//$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
//
//$nav-pills-border-radius: $border-radius !default;
//$nav-pills-link-active-color: $component-active-color !default;
//$nav-pills-link-active-bg: $component-active-bg !default;
//
//$nav-divider-color: $gray-200 !default;
//$nav-divider-margin-y: $spacer / 2 !default;

// Pagination

//$pagination-padding-y: 0.5rem !default;
//$pagination-padding-x: 0.75rem !default;
//$pagination-padding-y-sm: 0.25rem !default;
//$pagination-padding-x-sm: 0.5rem !default;
//$pagination-padding-y-lg: 0.75rem !default;
//$pagination-padding-x-lg: 1.5rem !default;
//$pagination-line-height: 1.25 !default;
//
//$pagination-color: $link-color !default;
//$pagination-bg: $white !default;
//$pagination-border-width: $border-width !default;
$pagination-border-color: $border-color !default;
//
//$pagination-focus-box-shadow: $input-btn-focus-box-shadow !default;
//$pagination-focus-outline: 0 !default;
//
//$pagination-hover-color: $link-hover-color !default;
//$pagination-hover-bg: $gray-200 !default;
$pagination-hover-border-color: $pagination-border-color !default;
//
//$pagination-active-color: $component-active-color !default;
//$pagination-active-bg: $component-active-bg !default;
//$pagination-active-border-color: $pagination-active-bg !default;
//
//$pagination-disabled-color: $gray-600 !default;
//$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $pagination-border-color !default;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 1.5rem !default;
$alert-padding-x: 2.5rem !default;
//$alert-margin-bottom: 1rem !default;
//$alert-border-radius: $border-radius !default;
//$alert-link-font-weight: $font-weight-bold !default;
//$alert-border-width: $border-width !default;
//
//$alert-bg-level: -10 !default;
//$alert-border-level: -9 !default;
//$alert-color-level: 6 !default;

// Bootstrap and Lit
//
// Variables, Mixins & Functions
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '_variables_lit';
