// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600&display=swap');

// Variables
@import 'variables';

// Modules
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import '~cropperjs/src/index';

// Bootstrap Components
@import '_bs/_btn';
@import '_bs/_card';
@import '_bs/_dropdown';
@import '_bs/_list-group';
@import '_bs/_table';
@import '_bs/_toasts';
// Fjord Components
@import '_fj/_blocks';
@import '_fj/_spinner';
@import '_fj/_hide';
@import '_fj/_table';

// Layout
@import 'layout';
@import 'landing';
@import 'brand';
@import 'navigation';
@import 'topbar';

// Atoms
//@import '_atoms/border';
//@import '_atoms/bs-buttons';
//@import '_atoms/fjord-brand';
//@import '_atoms/fjord-card';
//@import '_atoms/fjord-search';
//@import '_atoms/fjord-draggable';
//@import '_atoms/fjord-spinner';
//@import '_atoms/fjord-hide';
//@import '_atoms/fjord-table';

// Molecules
//@import '_molecules/fjord-topbar';
//@import '_molecules/fjord-dropzone';
//@import '_molecules/fjord-form';
//@import '_molecules/fjord-tabs';
//@import '_molecules/fjord-modal';
//@import '_molecules/fjord-block';
//@import '_molecules/fjord-cropper';
//@import '_molecules/fjord-toast';

body,
html {
    background-color: $body-bg;
}

div#fjord-app {
    background-color: $body-bg;
    min-height: 100vh;

    .btn:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.form-control-expand {
    flex-grow: 1;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.fj-trash {
    svg:hover {
        cursor: pointer;
        color: black;
    }
}
