div#fjord-app {
    display: grid;
    grid-template:
        't m'
        's m';
    grid-template-columns: 290px 1fr;
    grid-template-rows: $topbar_height auto;

    &.no-nav {
        grid-template:
            'm'
            'm';
    }

    main {
        grid-area: m;
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;

        >.fj-content {
            display: none;
        }

        &.loaded>.fj-content {
            display: block;
        }
    }

    @media (max-width: map-get($grid-breakpoints, $nav-breakpoint-mobile)) {
        display: block;

        main {
            padding-top: $nav-height-mobile;
            height: calc(100vh - #{$nav-height-mobile});
        }
    }
}
