// Main Navigation
//
//

div#fjord-app .fj-navigation {
    grid-area: s;
    border-right: $border-width solid $border-color;
    padding-top: $nav-padding-top;
    background: $nav-bg;
    overflow-y: auto;
    height: calc(100vh - #{$topbar-height});

    .list-group-item {
        border-bottom-width: 0;

        &.list-group-item-action {
            &:active {
                background-color: $list-group-bg;
            }

            &:hover {
                background-color: $nav-item-hover-bg;
            }
        }

        &.active {
            background-color: $nav-item-active-bg;
            color: $nav-item-active-color;
            font-weight: $nav-item-active-font-weight;
            border-right: $nav-item-active-border-width solid $nav-item-active-color;
        }
    }

    .collapse {
        padding: 0;
        background-color: $list-group-collapsed-bg;

        .list-group-item {
            padding-left: $nav-item-collapsed-padding-left;
        }
    }
}
