div#fjord-app.vertical {
    display: grid;
    grid-template:
        't t'
        's m';
    grid-template-columns: 200px 1fr;
    grid-template-rows: $topbar_height auto;

    main {
        grid-area: m;
        height: calc(100vh - #{$topbar_height});
        overflow: hidden;
        overflow-y: scroll;
    }

    > nav.fj-topbar {
        grid-area: t;
        height: $topbar-height;
        background: $topbar-bg;
        padding: 0 20px;
        display: flex;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        z-index: 9;
    }

    .fj-navigation {
        grid-area: s;
        border-right: 1px solid $light;
        padding-top: 20px;
        background: #fcfcfc;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        .collapse {
            box-shadow: inset 0px 5px 7px -5px black;
            .list-group-item:not(.active) {
                background-color: rgba(206, 212, 218, 0.8);
            }
            .list-group:last-child .list-group-item {
                box-shadow: inset 0px -6px 8px -10px black;
                &.active {
                    box-shadow: inset 0px -10px 12px -15px black;
                }
            }
        }
    }
}
