div#fjord-app.vertical {
    display: grid;
    grid-template:
        't t'
        's m';
    grid-template-columns: 200px 1fr;
    grid-template-rows: $topbar_height auto;

    main {
        grid-area: m;
        height: calc(100vh - #{$topbar_height});
        overflow: hidden;
        overflow-y: scroll;
    }

    > nav.fj-topbar {
        grid-area: t;
        height: $topbar-height;
        background: $topbar-bg;
        padding: 0 20px;
        display: flex;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        z-index: 9;
    }

    .fj-navigation {
        grid-area: s;
        border-right: 1px solid $light;
        background: #fcfcfc;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        .list-group {
            .list-group-item {
                border-radius: 0;
                a {
                    color: $blue-dark;
                    width: 100%;
                }
                border-right: none;
                border-left: none;
            }
        }
        &__is-active {
            background-color: #f1f1f1;
            & > a {
                font-weight: 800;
                .fj-navigation__icon {
                    color: $primary;
                }
            }
        }
        &__icon {
            display: inline-block;
            width: 36px;
            color: $secondary;
            padding-left: 10px;
        }

        &__down {
            float: right;
            line-height: 40px;
            padding-right: 10px;
        }

        &__parent {
            list-style-type: none;
            padding-left: 0;
            //border-bottom: 1px solid #dee2e6;
            letter-spacing: 0.03rem;

            a {
                height: 40px;
                display: inline-block;
                width: 100%;
                line-height: 40px;
                color: black;
                //border-top: 1px solid rgba(0, 0, 0, 0.1);

                &:hover {
                    text-decoration: none;
                    background-color: $secondary;
                    color: white;
                    i {
                        color: white !important;
                    }
                }
            }
            ul {
                display: none;
                list-style-type: none;
                background-color: $border;
                padding-left: 0;

                li {
                    height: 40px;
                    &:first-child {
                        a {
                            box-shadow: inset 0px 8px 8px -10px rgba(0, 0, 0, 0.25),
                                inset 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
                        }
                    }
                    &:last-child {
                        a {
                            box-shadow: inset 0px 0px 0px 0px
                                    rgba(0, 0, 0, 0.25),
                                inset 0px -8px 8px -10px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
                a {
                    color: $dark;
                    padding-left: 0px;
                    background-color: $border;
                    overflow: hidden;
                    white-space: nowrap;
                    //border-top: 1px solid rgba(118, 116, 125, 0.4);
                    &:hover {
                        background-color: $secondary;
                        color: white;
                    }
                }
                .fjord-navigation__is-active {
                    background-color: #2c2b2f;
                }
            }
        }
    }
}
