// colors
$accentColor = #4951f2
$textColor = #2c3e50
$borderColor = #ccd7e1
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #9ff2ae
$badgeWarningColor = #f6ed76
$badgeErrorColor = #f67693

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// Theme
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body
    font-family: 'Inter', sans-serif;

.navbar .home-link
    line-height: 100%;

.navbar .logo
    height: 25px;

.navbar .site-name
    display: none;

.home .hero .action-button
    border-radius: 1rem; 
    box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.2);

.custom-block.tip
    border-color: #9ff2ae
    background: #f5f8fb;

.custom-block.warning .custom-block-title
    color: #2a353f;

.custom-block.warning
    color: #2a353f;
    border-color: #f6ed76;
    background: rgba(#f6ed76, 0.3)

.custom-block.danger .custom-block-title
    color: #2a353f;

.custom-block.danger
    color: #2a353f;
    border-color: #f67693;
    background: rgba(#f67693, 0.3)

.custom-block.details
    background-color: #e5eaef;

.theme-default-content code
    color: #4951f2;

.theme-container
    max-width: 1280px;
    margin: 0 auto;

header.navbar
    max-width: 1280px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 17px 14px -16px rgba(188, 188, 188, 0.51);

aside.sidebar
    left: unset;
    border: none;

.sidebar-link.active
    border: none;

.theme-default-content:not(.custom)
    margin: 0