table {
    td.col-sm {
        // Reducing column width.
        width: 1%;
        white-space: nowrap;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    td.fj-table-col {
        vertical-align: middle;
    }
}
