// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// fjord
$mid: #353535;
$dark: #232127;
$darker: #100f10;

$dark_transparent: rgba(34, 33, 38, 0.7);

$primary: #1584ff;

$header: #5c00ff;

$light: #e1e1e1;
$blue-dark: #081838;

// Sizing
$topbar_height: 52px;
$navigation_height: 100px;
$navigation_tab_height: 28px;
