div#fjord-app.horizontal {
    min-height: calc(100vh - #{$topbar-height});

    > .fj-topbar {
        position: fixed;
        top: 0;
        z-index: 99;
    }

    .fj-navigation {
        margin-top: $topbar-height;
        height: $navigation-height;
        border-right: 1px solid $light;
        background: #fcfcfc;
        //box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        border-bottom: 1px solid $border;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .list-group {
            .list-group-item {
                border-radius: 0;
                a {
                    color: $blue-dark;
                    width: 100%;
                }
                border-right: none;
                border-left: none;
            }
        }
        &__is-active {
            position: relative;
            background-color: $body-bg;
            & > a {
                font-weight: 800;
            }
        }
        &__icon {
            display: inline-block;
            width: 36px;
            color: $primary;
            padding-left: 10px;
        }

        &__down {
            position: absolute;
            right: 10px;
            top: 11px;
        }

        &__parent {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            letter-spacing: 0.03rem;

            & > li {
                display: inline-block;
                position: relative;
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;
                &.fj-navigation__is-active {
                    border-top: 3px solid $primary;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-right: 1px solid $border !important;
                    border-left: 1px solid $border !important;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        height: 1px;
                        width: 100%;
                        background: $body-bg;
                        display: block;
                    }
                }
                &:hover {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-right: 1px solid $border;
                    border-left: 1px solid $border;
                    border-top: 3px solid $secondary;
                }
            }
            a {
                white-space: nowrap;
                display: inline-block;
                width: 100%;
                line-height: $navigation_tab_height;
                color: black;
                padding: 4px 35px 4px 10px;

                &:hover {
                    text-decoration: none;
                    background-color: #efefef;
                    color: black;
                }
            }
            ul {
                display: none;
                position: absolute;
                min-width: 100%;
                list-style-type: none;
                padding-left: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                overflow: hidden;
                z-index: 9;

                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                li {
                    &::before {
                        display: none;
                    }
                    &:first-child {
                        a {
                            box-shadow: inset 0 15px 15px -10px black;
                        }
                    }
                }
                a {
                    line-height: 38px;
                    color: white;
                    background-color: $dark;
                    &:hover {
                        color: white;
                        background-color: $darker;
                    }
                }
            }
        }
    }
}
