.btn-transparent {
    @include button-variant(
        transparent,
        transparent,
        rgba(map-get($theme-colors, 'light'), 0.5)
    );
    color: $text-muted;

    &:active {
        color: $text-muted !important;
    }

    &.disabled {
        color: $gray-400;
    }
}

.btn-primary {
    box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.2);
}

.btn-input {
    border: $input-border-width solid $input-border-color;
    @include button-variant(
        $input-bg,
        $input-border-color,
        rgba(map-get($theme-colors, 'light'), 0.5)
    );
}
