.btn-transparent {
    @include button-variant(
        transparent,
        transparent,
        rgba(map-get($theme-colors, 'light'), 0.5)
    );
    color: $text-muted;

    &:active {
        color: $text-muted !important;
    }

    &.disabled {
        color: $gray-400;
    }
}
