.btn-transparent {
    @include button-variant(
        transparent,
        transparent,
        rgba(map-get($theme-colors, 'light'), 0.5)
    );
    color: $text-muted;

    &:active {
        color: $text-muted !important;
    }

    &.disabled {
        color: $gray-400;
    }
}

.btn-primary {
    box-shadow: $button-primary-shadow;
}

.btn-input {
    border: $input-border-width solid $input-border-color;
    @include button-variant(
        $input-bg,
        $input-border-color,
        rgba(map-get($theme-colors, 'light'), 0.5)
    );
}

.btn {
    height: $button-md-height;
    max-height: $button-md-height;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;

    &-square {
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &.btn-sm {
            width: $button-sm-height !important;
        }

        &.btn {
            width: $button-md-height;
        }

        &.btn-md {
            width: $button-md-height !important;
        }

        &.btn-lg {
            width: $button-lg-height !important;
        }
    }

    &.btn-sm {
        height: $button-sm-height;
        line-height: $button-sm-height;
        max-height: $button-sm-height;
    }

    &.btn-md {
        height: $button-md-height;
        line-height: $button-md-height;
        max-height: $button-md-height;
    }

    &.btn-lg {
        height: $button-lg-height;
        line-height: $button-lg-height;
        max-height: $button-lg-height;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.btn-transparent {
    color: $secondary;

    &:hover {
        color: white;
        background-color: $secondary;
    }
}
