.dropdown {
    .dropdown-menu {
        box-shadow: $dropdown-shadow;
    }

    &-sm {
        &-square {
            & > .btn {
                height: $button-sm-height;
                max-height: $button-sm-height;
                width: $button-sm-height;
            }
        }
    }

    &-md {
        &-square {
            & > .btn {
                height: $button-md-height;
                max-height: $button-md-height;
                width: $button-md-height;
            }

            &-mobile {
                @media (max-width: map-get($grid-breakpoints, $nav-breakpoint-mobile)) {
                    & > .btn {
                        padding: 0;
                        height: $button-md-height;
                        max-height: $button-md-height;
                        width: $button-md-height;
                    }
                }
            }
        }
    }

    &-lg {
        &-square {
            & > .btn {
                height: $button-lg-height;
                max-height: $button-lg-height;
                width: $button-lg-height;
            }
        }
    }

    &-sm,
    &-md,
    &-lg {
        &-square {
            & > .btn {
                padding: 0;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
