.b-form-tag {
    border-radius: $input-border-radius-sm;
    padding: $input-btn-padding-y-sm ($input-btn-padding-x-sm * 0.75);

    > button.b-form-tag-remove {
        transform: translateX(0.1rem);
        font-weight: 400;
    }
}
