.fjord-draggable {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    background: #f7f7f7;
    margin-bottom: 20px;
    &__dragbar {
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: -20px;
        padding: 14px;
        margin-left: -20px;
        margin-right: -20px;
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }
}
