.fjord-draggable {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    background: #f7f7f7;
    margin-bottom: 20px;
    &__dragbar {
        cursor: pointer;
        margin: 0 -20px;
        margin-top: -20px;
        padding-top: 10px;
        height: 32px;
        &:hover {
            //background: rgba(0, 0, 0, 0.05);
            background-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.05),
                rgba(0, 0, 0, 0)
            );
        }
    }
}
