.aw-form {
    small {
        margin-bottom: 13px;
    }
    .ql-toolbar.ql-snow {
        border: 1px solid #ced4da;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .ql-container.ql-snow {
        border: 1px solid #ced4da;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}
