.fjord-form {
    small {
        margin-bottom: 13px;
    }
    .ck.ck-editor {
        width: calc(100%);
        min-width: calc(100%);
    }
    .ck.ck-toolbar {
        border: 1px solid #ced4da !important;
        border-top-left-radius: 0.25rem !important;
    }
    .ck.ck-editor__main > .ck-editor__editable {
        border: 1px solid #ced4da !important;
        border-top: none !important;
        border-bottom-left-radius: 0.25rem !important;
    }
}
.form-control {
}
