.fjord-navigation {
    margin-top: $topbar_height;
    height: $navigation_height;
    border-right: 1px solid $light;
    background: #fcfcfc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .list-group {
        .list-group-item {
            border-radius: 0;
            a {
                color: $blue-dark;
                width: 100%;
            }
            border-right: none;
            border-left: none;
        }
    }
    &__is-active {
        position: relative;
        background-color: #e4e4e4;
        &::before {
            content: '';
            position: absolute;
            top: -3px;
            height: 3px;
            width: 100%;
            background: $primary;
            display: block;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        & > a {
            font-weight: 800;
        }
    }
    &__icon {
        display: inline-block;
        width: 36px;
        color: $primary;
        padding-left: 10px;
    }

    &__down {
        position: absolute;
        right: 10px;
        top: 17px;
    }

    &__parent {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        letter-spacing: 0.03rem;

        & > li {
            display: inline-block;
            position: relative;
        }
        a {
            display: inline-block;
            width: 100%;
            line-height: 40px;
            color: black;
            padding: 4px 35px 4px 10px;

            &:hover {
                text-decoration: none;
                background-color: #efefef;
                color: black;
            }
        }
        ul {
            display: none;
            position: absolute;
            min-width: 100%;
            list-style-type: none;
            padding-left: 0;

            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            li {
                &::before {
                    display: none;
                }
            }
            a {
                color: white;
                background-color: $dark;
                &:hover {
                    color: white;
                    background-color: $darker;
                }
            }
        }
    }
}
