div#app .fjord-dropzone {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1;
    color: #ced4da;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    background-size: cover;

    .dz-message {
        font-family: $font-family-sans-serif;
        font-size: 0.8rem;
    }

    &.disabled,
    &.dz-max-files-reached {
        // opacity: 0.6;
        // background: #ddd;
        // cursor: not-allowed;
        // .dz-message {
        //     display: block;
        //     color: black;
        // }
        // .dz-preview {
        //     display: none;
        // }
    }

    &__delete {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
