#app > .notifications {
    position: fixed;
    top: calc(10px + #{$topbar_height}) !important;
    right: 10px !important;
}

.fjord-notifications {
    .notification-wrapper {
        overflow: visible;
        .card {
            background-color: $mid;
            color: white;
        }
    }
    &__wrapper {
        padding: 10px;
        margin: 5px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    }
    &__icon {
        font-size: 30px;
        padding-right: 10px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 10px;
    }
    &__close {
        position: absolute;
        top: 5px;
        right: 5px;

        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
    }
}
