div#lit-spinner {
    &.lit-spinner {
        margin-top: calc(50vh - #{$spinner-size / 2});
        pointer-events: none;
        opacity: 1;
        transition: 0.2s all ease;
        z-index: 8;

        &.loaded {
            display: none !important;
        }
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: $spinner-size;
    height: $spinner-size;

    @each $color, $value in $theme-colors {
        &.lds-ripple-#{$color} div {
            border-color: $value;
        }
    }
}
.lds-ripple div {
    position: absolute;
    border: $spinner-border-width solid $spinner-theme-default;
    opacity: 1;
    border-radius: 50%;

    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: $spinner-size;
        height: $spinner-size;
        opacity: 0;
    }
}
